@use "./variables" as v;

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}

@mixin sidebarTitle {
  color: v.$primary-1;
  font-weight: 500;
  font-size: 12px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin animate-spin($duration: 1s, $timing: linear, $count: infinite) {
  animation-name: spin;
  animation-duration: $duration;
  animation-timing-function: $timing;
  animation-iteration-count: $count;
}
