@use "./variables" as v;

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}

@mixin sidebarTitle {
  color: v.$primary-1;
  font-weight: 500;
  font-size: 12px;
}
